[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
openai = "*"
google-generativeai = "*"
pyspark = "*"
flask-cors = "*"
selenium = "*"
langchain-community = "*"
langchain = "*"

[dev-packages]

[requires]
python_version = "3.10"
